<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>

<form id="form">
    <p>Quote: </p>
    <input type="text" required id="quote">
    <p>Author: </p>
    <input type="text" required id="author">
    <input type="Submit">
</form>



<script>
    
    $('#form').submit(function () {
        addNewQuote();
        return false;
    });
    
    function addNewQuote() {
        var quote = encodeURIComponent(document.getElementById("quote").value);
        var author = encodeURIComponent(document.getElementById("author").value);
        finalize(quote, author);
    }
    
    function finalize(quote, author) {
        $.get("https://getquote.herokuapp.com/add?id=0&quote=" + quote + "&author=" + author, function(data) {
            alert("data was added" );
        });
    }
</script>