<!-- this file needs update -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<html>
    <% include ./partials/head %>
    <body>
        <form id="form">
            <p>Quote: </p>
            <input type="text" required id="quote">
            <p>Author: </p>
            <input type="text" required id="author">
            <input type="Submit">
        </form>
        <% include ./partials/footer %>
    </body>
</html>




<script>
    $('#form').submit(function () {
        addNewQuote();
    });
    
    function addNewQuote() {
        var quote = encodeURIComponent(document.getElementById("quote").value);
        var author = encodeURIComponent(document.getElementById("author").value);
        finalize(quote, author);
    }
    
    // sends request to server
    function finalize(quote, author) {
        $.ajax({
            type: "POST",
            url: window.location.href,
            dataType: "jsonp",
            data: {quote: quote, author: author},
            success: function(data){
                console.log("Success!");
            },
            error: function(err){
                console.log(err.toString());
            }
        });
    }
</script>