<!DOCTYPE html>

<style>
   

   

</style>

<html>
   <head>
      <meta charset="UTF-8">
      <meta name="description" content="Organize your life with lists">
      <meta name="keywords" content="lists, organize">
      <meta name="author" content="Humad Shah">
      
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
      <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet"/>
      <link href="/styles/style.css" rel="stylesheet"/>
   </head>
   
   <style></style>
   
   <body>
      <div class="container">
         <div id="box">
            <i class="fa fa-quote-left"></i>
            <span id="quote"></span>
            <h4 id="author"></h4>
            <button class="btn" id="new-quote">Get new quote!</button>
            <button id="tweet"><i class="fa fa-twitter"></i></button>
         </div>
      </div>
      
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
      <script src="/javascript/script.js"></script>
   </body>  
</html>